@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
@font-face {
  font-family: "Arturito Slab";
  src: local("Arturito Slab"),
    url("~@/assets/Arturito+Slab.ttf") format("truetype");
}
@mixin font-header-xl {
  font-family: "Arturito Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
}
@mixin font-header-l {
  font-family: "Arturito Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
}
@mixin font-header-m {
  font-family: "Arturito Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
@mixin font-paragraph-l {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-style: normal;
  font-weight: normal;
}
@mixin font-paragraph-m {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
}
@mixin font-paragraph-s {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
@mixin font-paragraph-xs {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: normal;
}
@mixin font-featured {
  font-family: "Arturito Slab";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@mixin font-quote {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
}
